<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.datacenterweatherservice.dao.HBWeatherStationMapper">
    <sql id="insertFields">
        station_name,lat,lon,prs,tem,rhu,pre_1h,gst
    </sql>

    <insert id="insertData" parameterType="HBWeatherStation" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO station (<include refid="insertFields"></include>)
        VALUES (#{stationId},#{lat}, #{lon},#{prs},#{tem},#{rhu},#{pre_1h},#{gst})
    </insert>

    <resultMap id="hbWeatherStation" type="HBWeatherStation">
        <result column="station_name" property="stationId"/>
        <result column="lat" property="lat"/>
        <result column="lon" property="lon"/>
        <result column="prs" property="prs"/>
        <result column="tem" property="tem"/>
        <result column="rhu" property="rhu"/>
        <result column="pre_1h" property="pre_1h"/>
        <result column="gst" property="gst"/>
    </resultMap>
</mapper>