<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sensorweb.datacenterofflineservice.dao.WFMapper" >
    <sql id="insertFields">
        image_id, bbox, geom, query_time, file_path,geo_type
    </sql>

    <sql id="selectFields">
        id, image_id, bbox, geom, query_time, file_path,geo_type
    </sql>

    <insert id="insertWF" parameterType="WF" useGeneratedKeys="true" keyProperty="id">
        insert into weather_forecast (<include refid="insertFields"></include>)
        values (#{imageId}, #{bbox}, ST_GeomFromText(#{geom}, 4326), #{queryTime}, #{filePath},#{geoType})
    </insert>



    <resultMap id="WF" type="WF">
        <id column="id" property="id"/>
        <result column="image_id" property="imageId"/>
        <result column="bbox" property="bbox"/>
        <result column="geom" property="geom"/>
        <result column="query_time" property="queryTime"/>
        <result column="file_path" property="filePath"/>
        <result column="geo_type" property="geoType"/>
    </resultMap>

</mapper>