<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sensorweb.datacentergeeservice.dao.LandsatMapper" >
  <resultMap id="BaseResultMap" type="Landsat" >
    <result column="imageid" property="imageID"/>
    <result column="sensorid" property="sensorID"/>
    <result column="spacecraftid" property="spacecraftID"/>
    <result column="coordinates" property="Coordinates"/>
    <result column="imagesize" property="imageSize"/>
    <result column="date" property="Date"/>
    <result column="time" property="Time"/>
    <result column="ellipsoid" property="Ellipsoid"/>
    <result column="cloudcover" property="Cloudcover"/>
    <result column="thumburl" property="Thumburl"/>
    <result column="imagetype" property="imageType"/>
    <result column="filepath" property="filePath"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="selectFields" >
        imageid,sensorid,spacecraftid,coordinates,date,time,imagesize,ellipsoid,cloudcover,thumburl,imagetype,filepath
  </sql>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="selectFields"></include>
    from landsat
    where 1=1
  </select>

  <select id="selectByattribute" resultMap="BaseResultMap">
    <if test="spacecraftID != null  or Date != null or Cloudcover != null or imageType != null "  >
    select * from landsat where 1=1
    <if test="spacecraftID != null and spacecraftID != '' "  >
      AND spacecraftid = #{spacecraftID}
    </if>
    <if test="Date != null and Date != ''">
      AND dates &lt;= #{Date}
    </if>
    <if test="Cloudcover != null and Cloudcover != ''">
      AND cloudcover &lt;= #{Cloudcover}
    </if>
    <if test="imageType != '' and imageType != null ">
      AND imagetype = #{imageType}
    </if>
    </if>
  </select>

<!--  <select id="selectByPage" resultMap="BaseResultMap">-->
<!--    SELECT <include refid="selectFields"></include>-->
<!--    FROM landast-->
<!--    LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})-->
<!--  </select>-->

  <select id="selectNum" resultType="java.lang.Integer">
    SELECT count(*)
    FROM landsat
  </select>

  <select id="selectByIds" resultMap="BaseResultMap" >
    SELECT <include refid="selectFields"></include>
    FROM landsat ORDER BY date DESC
    WHERE imageid in
    <foreach collection ="imageid" item="imageID" open="(" close=")" separator=",">
      #{imageID}
    </foreach>
    LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
  </select>

  <select id="selectByPage" resultMap="BaseResultMap">
    SELECT <include refid="selectFields"></include>
    FROM landsat ORDER BY date DESC
    LIMIT #{pageSize} OFFSET (#{pageNum}-1)*(#{pageSize})
  </select>

</mapper>