<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.sossensorservice.dao.CapabilityMapper">
    <sql id="insertFields">
        cap_name, cap_label, out_id, proc_id
    </sql>

    <sql id="selectFields">
        id, cap_name, cap_label, out_id, proc_id
    </sql>

    <insert id="insertData" parameterType="Capability">
        INSERT INTO capability (<include refid="insertFields"></include>)
        VALUES (#{name}, #{label}, #{outId}, #{procedureId})
    </insert>

    <delete id="deleteByProcedureId">
        DELETE FROM capability
        WHERE proc_id = #{procedureId}
    </delete>

    <delete id="deleteById" parameterType="int">
        DELETE FROM capability
        WHERE id = #{id}
    </delete>

    <select id="selectByProcedureId" resultMap="capability">
        SELECT <include refid="selectFields"></include>
        FROM capability
        WHERE proc_id = #{id}
    </select>

    <select id="selectByName" resultMap="capability">
        SELECT <include refid="selectFields"></include>
        FROM capability
        WHERE cap_name = #{name}
    </select>

    <resultMap id="capability" type="Capability">
        <id property="id" column="id"/>
        <result property="procedureId" column="proc_id"/>
        <result property="name" column="cap_name"/>
        <result property="label" column="cap_value"/>
        <result property="outId" column="out_id"/>
    </resultMap>

</mapper>