<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.sossensorservice.dao.ContactMapper">
    <sql id="insertFields">
        telephone, ind_name, pos_name, org_name, delivery_point, city, admin_area, postal_code, country, mail, proc_id
    </sql>

    <sql id="selectFields">
        id, telephone, ind_name, pos_name, org_name, delivery_point, city, admin_area, postal_code, country, mail, proc_id
    </sql>

    <insert id="insertData" parameterType="Contact">
        INSERT INTO contact (<include refid="insertFields"></include>)
        VALUES (#{telephone}, #{individualName}, #{positionName}, #{organizationName}, #{deliveryPoint}, #{city}, #{adminArea},
        #{postalCode}, #{country}, #{mail}, #{procedureId})
    </insert>

    <delete id="deleteByProcedureId">
        DELETE FROM contact
        WHERE proc_id = #{procedureId}
    </delete>

    <delete id="deleteById" parameterType="int">
        DELETE FROM contact
        WHERE id = #{id}
    </delete>

    <select id="selectByProcedureId" resultMap="contact">
        SELECT <include refid="selectFields"></include>
        FROM contact
        WHERE proc_id = #{procedureId}
    </select>

    <select id="selectByIndividualName" resultMap="contact">
        SELECT <include refid="selectFields"></include>
        FROM contact
        WHERE ind_name like concat('%', #{individualName}, '%')
    </select>

    <select id="selectByOrganizationName" resultMap="contact">
        SELECT <include refid="selectFields"></include>
        FROM contact
        WHERE org_name like concat('%', #{organizationName}, '%')
    </select>

    <select id="selectByPositionName" resultMap="contact">
        SELECT <include refid="selectFields"></include>
        FROM contact
        WHERE pos_name like concat('%', #{positionName}, '%');
    </select>

    <resultMap id="contact" type="Contact">
        <id property="id" column="id"/>
        <result property="telephone" column="telephone"/>
        <result property="individualName" column="ind_name"/>
        <result property="positionName" column="pos_name"/>
        <result property="organizationName" column="org_name"/>
        <result property="deliveryPoint" column="delivery_point"/>
        <result property="city" column="city"/>
        <result property="adminArea" column="admin_area"/>
        <result property="postalCode" column="postal_code"/>
        <result property="country" column="country"/>
        <result property="mail" column="mail"/>
        <result property="procedureId" column="proc_id"/>
    </resultMap>

</mapper>