<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensorweb.sossensorservice.dao.PositionMapper">
    <sql id="insertFields">
        pos_name, lon, lat, alt, geom, proc_id
    </sql>

    <sql id="selectFields">
        id, pos_name, lon, lat, alt, proc_id
    </sql>

    <insert id="insertData" parameterType="Position">
        INSERT INTO position (<include refid="insertFields"></include>)
        VALUES (#{name}, #{longitude}, #{latitude}, #{altitude}, ST_GeomFromText(#{wkt}, 4326), #{procedureId})
    </insert>

    <delete id="deleteByProcedureId">
        DELETE FROM position
        WHERE proc_id = #{procedureId}
    </delete>

    <delete id="deleteById" parameterType="int">
        DELETE FROM position
        WHERE id = #{id}
    </delete>

    <select id="selectByProcedureId" resultMap="position">
        SELECT <include refid="selectFields"></include>
        FROM position
        WHERE proc_id = #{procedureId}
    </select>

    <select id="selectByName" resultMap="position">
        SELECT <include refid="selectFields"></include>
        FROM position
        WHERE pos_name like concat('%', #{name}, '%')
    </select>

    <select id="selectByEnvelope" resultMap="position">
        SELECT <include refid="selectFields"></include>
        FROM position
        WHERE lon <![CDATA[<=]]> #{maxLon} AND lat <![CDATA[<=]]> #{maxLat} AND lon <![CDATA[>=]]> #{minLon} AND lat <![CDATA[>=]]> #{minLat}
    </select>

    <resultMap id="position" type="Position">
        <id property="id" column="id"/>
        <result property="name" column="pos_name"/>
        <result property="procedureId" column="proc_id"/>
        <result property="longitude" column="lon"/>
        <result property="latitude" column="lat"/>
        <result property="altitude" column="alt"/>
    </resultMap>

</mapper>